{% extends "base.html" %}

{% block title %} Каталог товаров {% endblock %}


{% block content %}
<div class="main_body">
    <h2>Товары: </h2>

    <div class="b-items">
        {% for item in items%}
        <div class="b-item-card">
            <a href="item/{{item.link}}"><img class="b-item-card-img"
                                              src="{{ url_for('static', filename='images/' + item.logo) }}"></a>
            <br>
            <h3 class="b-item-card-name">{{item.name}}</h3>
            <h3 class="b-item-card-price">{{item.price}} p.</h3>
            <p class="b-item-card-description">{{item.description}} </p>

            <a href="item/{{item.link}}">
                <button class="btn btn-outline-success card-btn">Подробнее</button>
            </a>
        </div>
        {% endfor %}

    </div>

</div>
<a class="menu-link" href="/">На главную</a>
{% endblock %}