{% extends "base.html" %}

{% block title %} Отзывы {% endblock %}


{% block content %}
<form action="#">
    <ul class="header-footer">
        <legend>Расскажите о себе</legend>
        <br>
        Представьтесь <input type="text" name="name" placeholder="Ваше имя"> <br>
        Почта для обратной связи <input type="email" name="email" placeholder="Ваша почта"><br>
        Оставьте ваш отзыв, пожелания или предложения <br>
        <textarea name="review" id="" cols="68" rows="10"></textarea>
        <br>
        <input type="submit">
        <input type="reset">
    </ul>
    <br>
</form>
<a class="menu-link" href="index">На главную</a>
{% endblock %}